<header>
    <div class="container p-0">
        <nav class="navbar navbar-expand-sm justify-content-sm-between">
            <!-- Brand -->
            <a class="navbar-brand" routerLink="/"><img src="/assets/images/logo.jpg" /></a>
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/payment-form" routerLinkActive="active" class="nav-link  d-flex" routerLink="/payment-form"><span class="material-icons">home</span> Home   </a>
                </li>
                <li class="nav-item">
                    <a routerLink="search-reports" routerLinkActive="active" class="nav-link d-flex" routerLink="/search-reports"><span class="material-icons">search</span> Search Reports</a>
                </li>
                <!-- <li class="nav-item">
                    <a routerLink="search-reports-master" routerLinkActive="active" class="nav-link d-flex" routerLink="/search-reports-master"><span class="material-icons">search</span> Search Reports Master</a>
                </li>
                <li class="nav-item">
                    <a routerLink="update-reports" routerLinkActive="active" class="nav-link d-flex" routerLink="/update-reports"><span class="material-icons">update</span> Update Reports</a>
                </li> -->
                <li class="nav-item">
                    <a routerLink="change-password" routerLinkActive="active" class="nav-link d-flex" routerLink="/change-password"><span class="material-icons">password</span> Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" (click)="logout()"><span class="material-icons">logout</span> Logout</a>
                </li>
                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                        My Profile
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/change-password">Change Password</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li> -->
            </ul>
        </nav>
    </div>
</header>