.nav-link.active {
    color: #03d407;
}

.nav-link {
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-right: 1px solid #e7e7e7;
}

nav {
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 6px 1px #00000009;
    box-shadow: 0 0 6px 1px #00000009;
}

header {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

header a {
    color: #726e6e;
}