<div class="row">
    <div class="col-lg-12">
        <div class="paymentForm">
            <h4>Search Payment Reports(Master)</h4>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm row-border hover border mt-3" datatable [dtOptions]="dtOptions">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>ReferenceNo</th>
                            <th>Beneficiary Name</th>
                            <th>Value Date</th>
                            <th>Amount</th>
                            <th>Email Address 1</th>
                            <th>Bean Bank Account</th>
                            <th>IFSC Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reps of reports">
                            <!-- <tr *ngFor="let reps of reports | filter:searchedKeyword | paginate:{itemsPerPage: 10, currentPage:page}; let i= index"> -->
                            <td>{{reps.id}}</td>
                            <td>{{reps.refrenceNumber}}</td>
                            <td>{{reps.beneficiaryName}}</td>
                            <td>{{reps.valueDate}}</td>
                            <td>{{reps.amount}}</td>
                            <td>{{reps.emailAddress}}</td>
                            <td>{{reps.beanBankAccount}}</td>
                            <td>{{reps.ifscCode}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
            </div>
        </div>
    </div>
</div>