<div class="row">
    <div class="col-lg-12">
        <div class="paymentForm">
            <h4>Payment Form</h4>
            <hr>
            <form [formGroup]="paymentForm" (ngSubmit)="submitRequest()">
                <div class="form-row row mb-3">
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="text" id="employeeName" class="form-control" placeholder="Employee Name" name="employeeName" formControlName="employeeName">
                            <label for="floatingInput">Employee Name </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="text" id="branch" class="form-control" placeholder="Branch" name="branch" formControlName="branch">
                            <label for="branch">Branch</label>
                        </div>
                    </div>
                </div>
                <div class="form-row row mb-3">
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="text" id="displayCartNumber" class="form-control" placeholder="Display Cart Number" name="displayCartNumber" formControlName="displayCartNumber" [ngClass]="{ 'is-invalid': submitted && f.displayCartNumber.errors }">
                            <label for="displayCartNumber">Display Cart Number* (Exact 11 digit Number)</label>
                            <div *ngIf="submitted && f.displayCartNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.displayCartNumber.errors.required">
                                    Cart Number is required.
                                </div>
                                <div *ngIf="f.displayCartNumber.hasError('maxlength')">
                                    Cart Number must be at least 11 characters long.
                                </div>
                                <div *ngIf="f.displayCartNumber.hasError('maxlength')">
                                    Cart Number can not exceed 11 characters in length.
                                </div>
                                <div *ngIf="f.displayCartNumber.errors.pattern">
                                    Cart Number must be valid
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="radioCheck d-flex align-items-center">
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" type="radio" name="displayCartNumberRadio" id="displayCartNumberRadioYes" formControlName="displayCartNumberRadio" value="Yes" [ngClass]="{ 'is-invalid': submitted && f.displayCartNumber.errors }">
                                <label class="form-check-label" for="displayCartNumberRadioYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="displayCartNumberRadio" id="displayCartNumberRadioNo" formControlName="displayCartNumberRadio" value="No" [ngClass]="{ 'is-invalid': submitted && f.displayCartNumber.errors }">
                                <label class="form-check-label" for="displayCartNumberRadioNo">No</label>

                            </div>

                        </div>
                        <p class="note text-danger mb-1" style="font-size: 13px;">FCM NOIDA users please select YES in above option, CT Noida can select NO</p>
                    </div>
                </div>
                <div class="form-row row mb-3">
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="text" id="beneficiaryName" class="form-control" placeholder="Beneficiary Name" name="branch" formControlName="beneficiaryName" [ngClass]="{ 'is-invalid': submitted && f.beneficiaryName.errors }">
                            <label for="beneficiaryName">Beneficiary Name*</label>
                            <div *ngIf="submitted && f.beneficiaryName.errors" class="invalid-feedback">
                                <div *ngIf="f.beneficiaryName.errors.required">
                                    Beneficiary Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="text" id="amount" class="form-control" placeholder="Amount" name="branch" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                            <label for="amount">Amount*</label>
                            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                <div *ngIf="f.amount.errors.required">
                                    Amount is required.
                                </div>
                                <div *ngIf="f.amount.errors.pattern">
                                    Amount must be number.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mb-3">
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="email" id="email" class="form-control" placeholder="Email" name="email" formControlName="email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="email" id="email1" class="form-control" placeholder="Email1 (Optional)" name="email1" formControlName="email1">
                            <label for="email1">Email 1 (Optional)</label>
                        </div>
                    </div>
                </div>
                <div class="form-row row mb-3">
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="email" id="email2" class="form-control" placeholder="Email2 (Optional)" name="email2" formControlName="email2">
                            <label for="email2">Email 2 (Optional)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-floating">
                            <input type="text" id="invoiceNumber" class="form-control" placeholder="Invoice Number" name="invoiceNumber" formControlName="invoiceNumber" [ngClass]="{ 'is-invalid': submitted && f.invoiceNumber.errors }">
                            <label for=" invoiceNumber ">Invoice Number*</label>
                            <div *ngIf="submitted && f.invoiceNumber.errors " class="invalid-feedback ">
                                <div *ngIf="f.invoiceNumber.errors.required ">
                                    Invoice Number is required.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row mb-3 ">
                    <div class="col-md-6 ">
                        <div class="form-group form-floating ">
                            <input type="text " id="beanBankAccountNumber " class="form-control " placeholder="Bean Bank Account Number " name="beanBankAccountNumber" formControlName="beanBankAccountNumber" [ngClass]="{ 'is-invalid': submitted &&
                                f.beanBankAccountNumber.errors }">
                            <label for="beanBankAccountNumber ">Bene Bank Account*</label>
                            <div *ngIf="submitted && f.beanBankAccountNumber.errors " class="invalid-feedback">
                                <div *ngIf="f.beanBankAccountNumber.errors.required ">
                                    Bean Bank Account Number is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group form-floating ">
                            <input type="text " id="ifscBankCode " class="form-control " placeholder="IFSC Bank Code " name="ifscBankCode " formControlName="ifscBankCode" [ngClass]="{ 'is-invalid': submitted && f.ifscBankCode.errors } ">
                            <label for="ifscBankCode ">IFSC Bank Code* (Exact 11 digit Number)</label>
                            <div *ngIf="submitted && f.ifscBankCode.errors " class="invalid-feedback ">
                                <div *ngIf="f.ifscBankCode.errors.required ">
                                    IFSC Code is required.
                                </div>
                                <div *ngIf="f.ifscBankCode.hasError('minlength')">
                                    IFSC Code must be at least 11 characters long.
                                </div>
                                <div *ngIf="f.ifscBankCode.hasError('maxlength')">
                                    IFSC Code can not exceed 11 characters in length.
                                </div>
                                <div *ngIf="f.ifscBankCode.errors.pattern">
                                    IFSC Code must be valid
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit " class="btn btn-dark ">Submit</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>