<div class="row">
    <div class="col-lg-12">
        <div class="paymentForm">
            <h4>Search Payment Reports</h4>
            <hr>
            <form [formGroup]="filterReportsForm" (ngSubmit)="filterReports()">
                <div class="form-row row mb-3">
                    <div class="col-md-3">
                        <div class="form-group form-floating">
                            <input type="date" id="fromDate" class="form-control" placeholder="From Date" name="fromDate" formControlName="fromDate" [ngClass]="{ 'is-invalid': submitted && f.fromDate.errors }">
                            <label for="fromDate">From Date </label>
                            <div *ngIf="submitted && f.fromDate.errors" class="invalid-feedback">
                                <div *ngIf="f.fromDate.errors.required">
                                    From Date is required.
                                </div>                               
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group form-floating">
                            <input type="date" id="toDate" class="form-control" placeholder="To Date" name="toDate" formControlName="toDate" [ngClass]="{ 'is-invalid': submitted && f.toDate.errors }">
                            <label for="toDate">To Date</label>
                            <div *ngIf="submitted && f.toDate.errors" class="invalid-feedback">
                                <div *ngIf="f.toDate.errors.required">
                                    To Date is required.
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group h-100">
                            <button type="submit" class="btn btn-dark h-100">Search </button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="table-responsive" *ngIf="flag">
                <table class="table table-striped table-bordered table-sm row-border hover border mt-3" datatable [dtOptions]="dtOptions">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>ReferenceNo</th>
                            <th>Beneficiary Name</th>
                            <th>Submission Date</th>
                            <th>Amount</th>
                            <th>Email Address 1</th>
                            <th>Bean Bank Account</th>
                            <th>IFSC Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reps of reports">
                            
                            <td>{{reps.id}}</td>
                            <td>{{reps.displayCartNumber}}</td>
                            <td>{{reps.beneficiaryName}}</td>
                            <td>{{reps.createdAt | date}}</td>
                            <td>{{reps.amount}}</td>
                            <td>{{reps.email1}}</td>
                            <td>{{reps.beanBankAccountNumber}}</td>
                            <td>{{reps.ifscBankCode}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>