<div class="login-container h-100">
<div class="row h-100">
    <div class="col-lg-4 col-md-6 p-5">
        <div class="login ">
            <div class="brandContainer mb-5">
                <img src="../../../assets/images/logo.jpg" alt="">
            </div>
            <h5>Welcome!</h5>
            <hr>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                <div class="form-row row mb-3">
                    <div class="col-md-12 mb-4">
                        <div class="form-group form-floating">
                            <input type="email" id="userid" class="form-control" placeholder="User ID" name="userid" formControlName="userid" [ngClass]="{ 'is-invalid': submitted && f.userid.errors } ">
                            <label for="userid">Email</label>
                            <div *ngIf="submitted && f.userid.errors " class="invalid-feedback ">
                                <div *ngIf="f.userid.errors.required ">
                                    User ID is required.
                                </div>
                                <div *ngIf="f.userid.errors.email">
                                    User Id must be valid.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group form-floating">
                            <input type="password" id="password" class="form-control" placeholder="Password" name="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors } ">
                            <label for="password">Password</label>
                            <div *ngIf="submitted && f.password.errors " class="invalid-feedback ">
                                <div *ngIf="f.password.errors">
                                    Password is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="text-danger">{{showMessage}}</p> -->
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit " class="btn btn-dark ">Submit</button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 d-none d-md-block h-100">
        <div class="innerRight h-100">
            <!-- Adding background image here -->
        </div>
    </div>
</div>
</div>