.login-container {

    min-height: 100vh!important;

    position: fixed;

    right: 0;

    top: 0;

    background-color: #fff;

    left: 0;

}



.innerRight {

    background-image: url('../../../assets/images/login-bg.png');

    background-color: #d0dce5;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;

}