<div class="row">
    <div class="col-lg-12">
        <div class="changePassword ">
            <h4>Change Password</h4>
            <hr>
            <form [formGroup]="changePassowrdForm" (ngSubmit)="changepassword()">
                <div class="form-row row mb-3">
                    <div class="offset-md-3 col-md-6 mb-4">
                        <div class="form-group form-floating">
                            <input type="password" id="newPassword" class="form-control" placeholder="Password" name="password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors } ">
                            <label for="floatingInput">Enter New Password</label>
                            <div *ngIf="submitted && f.newPassword.errors " class="invalid-feedback ">
                                <div *ngIf="f.newPassword.errors.required ">
                                    Password is required.
                                </div>
                                <div *ngIf="f.newPassword.hasError('minlength')">
                                    Password must be at least 8 characters long.
                                </div>
                                <div *ngIf="f.newPassword.hasError('maxlength')">
                                    Password can not exceed 20 characters in length.
                                </div>
                                <div *ngIf="f.newPassword.errors.pattern">
                                    Passwor must be 1 digit & 1 Uppercase & lowercase.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="offset-md-3 col-md-6">
                        <div class="form-group form-floating">
                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors } ">
                            <label for="branch">Confirm New Password</label>
                            <div *ngIf="submitted && f.confirmPassword.errors " class="invalid-feedback ">
                                <div *ngIf="f.confirmPassword.errors">
                                    Password does not match.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button  type="submit " class="btn btn-dark ">Submit</button>
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>