<div class="mainApp">
    <app-header *ngIf="showHead" ></app-header>
    <div class="container content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <app-footer *ngIf="showHead"></app-footer>
</div>