<div class="row">
    <div class="col-lg-12">
        <div class="updateReports">
            <h4>Update Reports</h4>
            <hr>
            <h5 class="text-danger">Please follow below guidelines</h5>
            <div class="instructions">
                <ol>
                    <li>Please upload in .xls format.</li>
                    <li>Remove column names / headers before uploading.</li>
                    <li>Remove all formulas and scripting if any.</li>
                    <li>Column/Headers - status,Remarks are String fields.</li>
                    <li>Column/Headers - Id is Numeric field.</li>
                    <li><a href="https://flightcentreindia.co.in/PTT/data/UpdateInvrecs.xls"> Attached is the sample format to upate Payment Tracker</a></li>
                </ol>
            </div>
        </div>
        <form [formGroup]="updateReports" (ngSubmit)="uploadFile()">
            <div class="form-row row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="file" id="fileUpload" class="form-control" placeholder="File to Upload Name" name="fileUpload" formControlName="fileUpload">

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit " class="btn btn-primary ">Submit</button>
                </div>

            </div>

        </form>
    </div>
</div>