<footer class="footer">
    <div class="container">
        <div class="d-sm-flex justify-content-center justify-content-sm-between p-2">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> FCM Travel Solutions (India)
                Pvt. Ltd. | Site Developed by FCM Travel IT Department | For any support mail to <a
                    href="https://www.bootstrapdash.com/bootstrap-admin-template/"
                    target="_blank">support@in.fcm.travel</a></span>
        </div>
    </div>

</footer>