/* You can add global styles to this file, and also import other style files */

@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
body {
    background-color: #f5f5f5;
}

.content-wrapper {
    min-height: 70vh;
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 6px 1px #00000009;
    box-shadow: 0 0 6px 1px #00000009;
}

footer div {
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 6px 1px #00000009;
    box-shadow: 0 0 6px 1px #00000009;
}

.form-group label {
    color: rgba(35, 28, 99, 0.7);
    font-weight: 600;
}

.form-floating>.form-control {
    border-radius: 0;
}

.dataTables_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dt-buttons button {
    background-color: #000;
    color: #fdfdfd;
    border-radius: 3px;
    border: none;
    padding: 5px 20px;
}

.dataTables_wrapper span>a.paginate_button {
    padding: 1px 10px !important;
    background: #f2f2f2 !important;
    border: 1px solid #dee2e6 !important;
}

.dataTables_wrapper a.next,
.dataTables_wrapper a.last,
.dataTables_wrapper a.previous,
.dataTables_wrapper a.first {
    padding: 1px 10px !important;
}

.table.dataTable thead th,
table.dataTable thead td {
    padding: 4px 18px !important;
    border-bottom: 1px solid #111 !important;
    font-size: 13px !important;
}

.dataTables_wrapper:after {
    display: none !important;
}

table.dataTable tr td {
    font-size: 13px !important;
}